table(class="table table-bordered")
  thead
    tr
      th.
        Key
      th.
        Info
  tbody
    =context.data
    each item, key in context.data
      tr
        td
          code= key
        td.
          test